@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
    --primary-color: #72EDFF ;
    --dark-grey: #52525b;
    --off-white: #f3f4f6;
    --black: #020617;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
   max-width: 600px;
   margin: auto;
}

.link {
    text-decoration: none;
    padding: .6rem 1rem;
    border-radius: .5rem;
    
}

.link-primary{
    background-color: var(--primary-color);
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid;
    border-radius:  0.5rem;
}

.list-non-bullet {
    list-style-type: none;
}

.list-inline {
    display: inline;
    padding: 0rem .5rem
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    
}

.navigation .nav-bar {
    font-weight: bold;
}

.nav-right {
    text-align: right;
}

.link-active {
    font-weight: bold;
}

.header {
padding: 2rem;
}

.header .header-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.header .header-heading {
    color: var(--dark-grey);
    text-align: center;
}

.header .header-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
    
}

.section h3 {
    text-align: center;
}

.section .section-normal {
    
}

.section-off-white {
    background-color: var(--off-white) ;
    padding: 1rem;
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    border-top-right-radius: 2rem;
}

.footer .link {
    color: var(--black);
}

.footer ul {
    padding-inline-start: 0px;
}